dash==3.3.0
plotly==6.5.0
pandas==2.3.3
numpy==2.2.6
gunicorn==21.2.0
python-dotenv==1.0.0
SQLAlchemy==2.0.0
psycopg[binary,pool]==3.2.13
dash-auth
dash-bootstrap-components==2.0.4
psycopg2-binary
pytz

